#hero {
	grid-column: 1/-1; /* full width */
	/* height: 400px; */
	display: grid;
	grid-template-columns: 1fr 1fr minmax(auto, 700px) 1fr;
	column-gap: 16px;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	min-height: calc(50vh);
	/* max-height: calc(100vh - 100px); */
}

.animatedLogo {
	grid-column: 2;
}

/* .postList {
	max-width: var(--max-width, 1100px);
    margin: auto;
} */

main {
	/* max-width: var(--max-width, 1100px); */
	margin: auto;
	/* margin-top: 20px; */
	overflow: auto;
}

/* #home{
    background-image: url(../components/SVG/Logo/Logo.svg);
} */

.gradientText {
	/* position: relative; */
	--gradient1: 74deg, #4285f4 0, #9b72cb 9%, #d96570 20%, #d96570 24%,
		#9b72cb 35%, #4285f4 44%, #9b72cb 50%, #d96570 56%, #131314 75%,
		#131314 100%;
	--gradient2: to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1,
		#8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1;
	display: inline-block;
	color: transparent;
	background: -webkit-linear-gradient(var(--gradient2));
	background: linear-gradient(var(--gradient2));
	background-size: 400% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
